body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #0f172a;
    color: white;
}

h1 {
    margin-top: 10px;
}

#gameArea {
    width: 400px;
    height: 400px;
    border: 3px solid #38bdf8;
    margin: 20px auto;
    position: relative;
    background: #020617;
}

#box {
    width: 50px;
    height: 50px;
    background: #22c55e;
    position: absolute;
    display: none;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

