body {
    background: #0f172a;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 10px;
}

canvas {
    background: #020617;
    border: 4px solid #38bdf8;
    margin-top: 10px;
}
